<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Home</title>
    </head>
    <h2>Data Science Platform</h2>
    <body>
        <!-- <button onclick="href='/test_table'">Go to testtable</button> -->
        <a href="/test_table">Test_table</a>

        <a href="/upload/">Upload a file</a>

        <!-- {% if numbers %}
            {% for number in numbers %}
                {{numbers}}
            {% endfor %}
        {% endif %} -->

    </body>
</html>